body {
  background-color: black;
  color: rgb(127, 208, 245);
}

.spacing {
  margin-top: 50px;
}

.custom-tooltip {
  max-width: 120px;
  --bs-tooltip-bg: #fff78a;
  --bs-tooltip-color: black;
  --bs-tooltip-border-radius: 20px;
}

// I had to add !important to avoid a bootstrap conflict with how the border was surrounding the card image. Without forcing the styling there was a space that I couldn't get rid of. If there is an alternative I would love to learn it!
.image-border {
  border: 2px solid #62cccc;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  overflow: hidden;
  .card {
    display: block !important;
    width: fit-content !important;
    min-width: unset !important;
    max-width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      display: block;
    }
  }
}

.try-section {
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;
}

.navbar-width {
  max-width: 844px;
  margin: 0 auto;
}

/* * {
  border: solid 1px yellow;
} */
