.navbar {
  background-color: rgba(0, 0, 0) !important;
}

.navbar-nav {
  border: solid, 1px, #ffffff42;
  border-radius: 25px;
  .nav-link {
    margin: 0.2rem;
    color: rgb(238, 238, 238, 0.925) !important;
    font-family: "Inter", sans-serif !important;
    font-weight: 500 !important;
    letter-spacing: -0.05em !important;
    padding: 0.5rem 1.8rem !important;
  }
  .nav-link i {
    border: none;
  }
  .nav-link:hover {
    color: #ffffffb2 !important;
  }
  svg {
    position: relative;
    top: -2px;
  }
}

.navbar-toggler-icon {
  filter: invert(100%);
}

.navbar-toggler {
  background-color: black;
  border: 2px solid #0dcaf0;
}

.nav-link.active {
  background-color: #ffffff42;
  color: rgb(255, 255, 255) !important;
  border-radius: 25px;
}
